.capti-home--links__icon-1:before, .capti-home--links__icon-2:before, .capti-home--links__icon-3:before, .capti-home--links__icon-4:before {
  display: inline-block;
  background-image: url("/capti-homepage/img/sprite.svg");
  background-size: 19.75em 18em; }

@media (min-width: 1200px), (min-width: 992px), (min-width: 768px) {
  header .container {
    width: auto;
    padding-right: 30px; } }

#navigation-footer footer .col-xs-12 {
  padding: 0 15px; }

#navigation-footer footer ul {
  margin: 40px 0 15px;
  text-align: left; }
  #navigation-footer footer ul li {
    padding: 0 15px 0 0;
    margin-right: -4px; }
    #navigation-footer footer ul li a {
      font-size: 1rem;
      font-weight: 300;
      color: #1290cc; }
    #navigation-footer footer ul li + li {
      padding: 0 15px 0 14px; }
  #navigation-footer footer ul.footer-social-links {
    text-align: right; }
    #navigation-footer footer ul.footer-social-links li {
      width: 50px;
      text-align: center;
      padding: 0;
      vertical-align: top; }
      #navigation-footer footer ul.footer-social-links li a {
        font-size: 1.5rem;
        color: #1290cc; }
        #navigation-footer footer ul.footer-social-links li a:hover, #navigation-footer footer ul.footer-social-links li a:focus {
          color: #107fb5; }
      #navigation-footer footer ul.footer-social-links li + li {
        border: 0; }

#navigation-footer footer p {
  text-align: left;
  font-size: 1rem;
  color: #999;
  margin: 15px 0 40px; }

.capti-home--button a {
  display: inline-block;
  border: 2px solid #2280c7;
  border-radius: 23px;
  padding: 10px 30px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  transition: background-color .3s ease, color .3s ease; }
  .capti-home--button a:hover, .capti-home--button a:focus {
    background-color: #2280c7;
    color: #fff;
    text-decoration: none; }
    .capti-home--button a:hover path, .capti-home--button a:focus path {
      fill: #fff; }

.capti-home--button__arrow {
  display: inline-block;
  vertical-align: top;
  height: 24px;
  width: 17px;
  margin-left: 10px; }
  .capti-home--button__arrow path {
    fill: #2280c7;
    transition: fill .3s ease; }

.capti-home--slider {
  position: relative;
  height: 700px; }
  .capti-home--slider__slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/capti-home--slide.jpg) center -10vh no-repeat;
    background-size: cover; }
  .capti-home--slider__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 60%; }
    .capti-home--slider__overlay polygon {
      fill: #fff;
      opacity: .9; }
  .capti-home--slider .container {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .capti-home--slider__content {
    padding-left: 50%; }
  .capti-home--slider__title {
    font-size: 2.5rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px; }
  .capti-home--slider__subtitle {
    font-size: 1.625rem;
    font-weight: 400;
    color: #aaa;
    max-width: 480px;
    margin-bottom: 40px; }

.capti-home--links {
  background: url(../img/waves.svg) center 105% repeat-x;
  overflow: hidden; }
  .capti-home--links__list {
    position: relative;
    max-width: 1300px;
    padding: 0 15px;
    margin: 80px auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .capti-home--links__list a {
      display: block;
      background-color: #fff;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      border-top: 5px solid #1290cc;
      max-width: 300px;
      min-height: 250px;
      padding: 30px;
      color: #666; }
      .capti-home--links__list a:hover, .capti-home--links__list a:focus {
        text-decoration: none; }
        .capti-home--links__list a:hover .capti-home--links__arrow, .capti-home--links__list a:focus .capti-home--links__arrow {
          width: 186px;
          text-indent: 0;
          border-color: #2280c7; }
          .capti-home--links__list a:hover .capti-home--links__arrow:hover, .capti-home--links__list a:focus .capti-home--links__arrow:hover {
            background-color: #2280c7;
            color: #fff; }
            .capti-home--links__list a:hover .capti-home--links__arrow:hover path, .capti-home--links__list a:focus .capti-home--links__arrow:hover path {
              fill: #fff; }
      .capti-home--links__list a span {
        display: block;
        text-align: center; }
  .capti-home--links__icon {
    height: 70px;
    width: 70px;
    margin: 15px auto 20px;
    position: relative; }
    .capti-home--links__icon:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      font-size: 16px; }
    .capti-home--links__icon-1:before {
      width: 3.8125em;
      height: 3.8125em;
      background-position: -15.6875em -13.9375em; }
    .capti-home--links__icon-2:before {
      width: 6.01875em;
      height: 4.3125em;
      background-position: -9.0625em -9.0625em;
      left: -15px;
      top: -15px; }
    .capti-home--links__icon-3:before {
      width: 3.8125em;
      height: 3.8125em;
      background-position: -0.3125em -0.3125em; }
    .capti-home--links__icon-4:before {
      width: 3.8125em;
      height: 3.8125em;
      background-position: -4.6875em -4.6875em; }
  .capti-home--links__title {
    font-size: 1.375rem;
    font-weight: 400;
    text-transform: uppercase; }
  .capti-home--links__subtitle {
    font-size: 1rem;
    margin: 20px 0; }
  .capti-home--links__arrow {
    width: 30px;
    border-radius: 30px;
    border: 2px solid transparent;
    padding: 10px 30px;
    overflow: hidden;
    text-indent: -112px;
    font-weight: 400;
    color: #2280c7;
    white-space: nowrap;
    margin: auto;
    transition: width .3s ease, border-color .3s ease, text-indent .3s ease, background-color .3s ease; }
    .capti-home--links__arrow svg {
      display: inline-block;
      vertical-align: top;
      height: 24px;
      width: 30px;
      margin-left: 10px; }
      .capti-home--links__arrow svg path {
        fill: #2280c7;
        transition: fill .3s ease; }

.capti-home--awards {
  background-color: #f8fafb;
  padding: 50px 0; }
  .capti-home--awards__animation {
    position: relative;
    overflow: hidden; }
    .capti-home--awards__animation:before, .capti-home--awards__animation:after {
      content: '';
      width: 50px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, #f8fafb 0%, rgba(248, 250, 251, 0) 100%);
      z-index: 2; }
    .capti-home--awards__animation:after {
      left: auto;
      right: 0;
      background: linear-gradient(to right, rgba(248, 250, 251, 0) 0%, #f8fafb 100%); }
  .capti-home--awards__list {
    position: relative;
    z-index: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    width: 1200px;
    animation: awards_run 80s linear infinite; }
    .capti-home--awards__list li {
      min-width: 200px;
      width: 200px;
      padding: 0 20px;
      opacity: .8;
      transition: opacity .3s ease; }
      .capti-home--awards__list li img {
        height: auto;
        width: 100%; }

.capti-home--seo {
  position: relative;
  padding: 120px 0;
  background: url(../img/explore-back.jpg) center -10vh no-repeat;
  background-size: cover;
  color: #fff; }
  .capti-home--seo:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(14, 83, 117, 0.6) 0%, transparent 100%); }
  .capti-home--seo .container {
    position: relative; }
  .capti-home--seo h1 {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 40px; }
  .capti-home--seo p {
    line-height: 28px; }

.capti-home--map {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%; }
  .capti-home--map #map {
    height: 100%;
    width: 100%; }
  .capti-home--map .leaflet-marker-pane {
    z-index: 700 !important; }
  .capti-home--map .leaflet-control-attribution {
    display: none; }

.capti-home--call_to_action {
  position: relative;
  background-color: #2c5464;
  overflow: hidden;
  padding: 45px 0; }
  .capti-home--call_to_action:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/waves.svg) center center no-repeat;
    background-size: 110% auto;
    opacity: .05;
    z-index: 0; }
  .capti-home--call_to_action .container {
    position: relative;
    z-index: 1; }
  .capti-home--call_to_action__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  .capti-home--call_to_action__text {
    font-weight: bold;
    color: #fff; }
  .capti-home--call_to_action__suptitle {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px; }
  .capti-home--call_to_action__title {
    font-size: 1.5rem;
    line-height: 120%;
    margin-bottom: 15px; }
  .capti-home--call_to_action__singup, .capti-home--call_to_action__getquote {
    display: inline-block;
    border-radius: 23px;
    padding: 10px 30px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    transition: background-color .3s ease, color .3s ease; }
    .capti-home--call_to_action__singup:hover, .capti-home--call_to_action__singup:focus, .capti-home--call_to_action__getquote:hover, .capti-home--call_to_action__getquote:focus {
      text-decoration: none; }
  .capti-home--call_to_action__singup {
    border: 2px solid #2280c7;
    background-color: #2280c7;
    color: #fff;
    transition: background-color .3s ease, border-color .3s ease; }
    .capti-home--call_to_action__singup .capti-home--button__arrow {
      display: inline-block;
      vertical-align: top;
      height: 24px;
      width: 17px;
      margin-left: 10px; }
      .capti-home--call_to_action__singup .capti-home--button__arrow path {
        fill: #fff;
        transition: fill .3s ease; }
    .capti-home--call_to_action__singup:hover, .capti-home--call_to_action__singup:focus {
      background-color: #1e72b1;
      border: 2px solid #1e72b1;
      color: #fff; }
      .capti-home--call_to_action__singup:hover .capti-home--button__arrow path, .capti-home--call_to_action__singup:focus .capti-home--button__arrow path {
        fill: #fff; }
  .capti-home--call_to_action__getquote {
    border: 2px solid #fff;
    color: #fff;
    margin-left: 10px; }
    .capti-home--call_to_action__getquote:hover, .capti-home--call_to_action__getquote:focus {
      background-color: #fff;
      color: #2280c7; }
    .capti-home--call_to_action__getquote i {
      margin-right: 5px; }

@keyframes awards_run {
  0% {
    left: 0; }
  100% {
    left: -1200px; } }
